<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>私のブログ</h1>
        <h2>2026/2/22からはじめる日記</h2>
        <p>2026/2/22からはじめる練習用の日記です。
            <br>たくさん書いて頑張って覚えていきたい！
            <br>頑張るぞ～
        </p>
	</body>
</html>
